{
    "presets": [
        "next/babel",
        "@babel/typescript", 
        [
            "@babel/env", 
            { 
                "modules": false 
            }
        ],
        [
            "@babel/preset-react", 
            {
                "runtime": "automatic"
            }
        ]
    ]
}
